<div class="row">
    <div class="col-sm-4">
        Enter your Age : 
    </div>
    <div class="col-sm-4">
        <input type=number name=age class="form-group" [(ngModel)]="age" />
    </div>
</div>
<div class="row" *ngIf="age >= 18">
    <div class="col-sm-4">
        You are elegible for voting...!
    </div>
</div>
<div class="row" *ngIf="age < 18">
    <div class="col-sm-4">
        You are not elegible for voting...!
    </div>
</div>
<div class="row" *ngIf="age >= 18;then ifBlock;else elseBlock">    
</div>
<ng-template #ifBlock>
    <div class="col-sm-4 bg-info">
        You are elegible for voting...!
    </div>    
</ng-template>
<ng-template #elseBlock>
    <div class="col-sm-4 bg-danger">
        You are not elegible for voting...!
    </div>    
</ng-template>