<app-my-table
    [dataList]="studentList"
    [headerList]="headerList"
    [fieldNameList]="fieldNameList"
    [bgColor]="'warning'"
>
</app-my-table>

<!-- <table class="table table-bordered table-striped bg-dark text-info">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Mobile No</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentList">
            <td>{{student.rollNo}}--{{student['rollNo']}}</td>
            <td>{{student.name}}</td>
            <td>{{student.mobileNo}}</td>
        </tr>
    </tbody>
</table> -->

