<app-my-table
    [dataList]="deptList"
    [columnList]="columnList"
    [headerList]="headerList"
    (getSelectedRow)="getRow($event)"
>
</app-my-table>
<table>
    <tr>
        <td>{{selectedDepartment | json}}</td>
    </tr>
</table>
<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>Dept #</th>
            <th>Dept Name</th>
            <th>Manager</th>
        </tr>
        <tr *ngFor="let dept of deptList">
            <td>{{dept.deptId}}</td>
            <td>{{dept.deptName}}</td>
            <td>{{dept.managerName}}</td>
        </tr>
    </thead>
</table> -->