<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <div class="example-button-row">
              <button mat-flat-button color="primary" (click)="sayHello()">
                OK
              </button>
              <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>              
            </div>     
            <div class="example-button-row">
              {{name | uppercase | lowercase | welcome}}
            </div>       
            <div class="example-button-row">
              {{today | date : 'dd-MMM-yy hh:mm:ss a'}}
            </div>
            <div class="example-button-row">
              {{employee | json | uppercase}}
            </div>
            <div class="example-button-row">
              {{names | slice : 1:3}}
            </div>
            <div class="example-button-row">
              {{employee.salary | currency : 'USD'}}
            </div>
            <div class="example-button-row">
              {{employee.name | uppercase | welcome}}
            </div>       
            <div class="example-button-row">
              {{employee.accNo | mask : '*' : 4}}
            </div>       
            <div class="example-button-row">
              {{employee.mobileNo | mask : '#' : 3}}
            </div>  
            <div class="example-button-row">
              <li>{{name | loop : 5}}</li>
            </div>               
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
