<app-my-table
    [dataList]="itemList"
    [headerList]="headerList"
    [fieldNameList]="fieldNameList"
>
</app-my-table>
<!-- <table class="table table-bordered table-striped bg-dark text-info">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Desc</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemList">
            <td>{{item.item_id}}</td>
            <td>{{item.code}}</td>
            <td>{{item.desc}}</td>
            <td>{{item.unitPrice}}</td>
        </tr>
    </tbody>
</table>
    
     -->